In [1]:
#1.Billing application for a supermarket with VAT
#2.Inventry management system
#3.Library management

In [2]:
#billing application for a supermarket with VAT
b=open('billingsystem.csv','x')

In [3]:
b=open('billingsystem.csv','a')
b.write("Billno,Date,Sn,PName,Price,Quantity,Total\n")
b.close()

In [10]:
import csv
with open('billingsystem.csv','a') as f:
    x=csv.writer(f)
    n = int(input("enter no of products = "))
    for i in range(1,n+1):
        billno = int(input("enter billno = "))
        date = input("enter date = ")
        sn = int(input("enter sn = "))
        pname = input("enter pname = ")
        price = int(input("enter price = "))
        quantity = int(input("enter quantity = "))
        total = price*quantity
        
        fields2 = [billno,date,sn,pname,price,quantity,total]
        x.writerow(fields2)    
import pandas as pd
df = pd.read_csv('billingsystem.csv')
df

enter no of products = 1
enter billno = 103
enter date = 2
enter sn = 2
enter pname = rice
enter price = 60
enter quantity = 3

   Billno       Date  Sn     PName  Price  Quantity  Total
0     101  12/3/2020   1      rice     60         3    180
1     101  12/3/2020   2       dal     45         4    180
2     101  12/3/2020   1      rice     50         2    100
3     101          2   2       dal     40         1     40
4     102  12/3/2020   1  shamppoo    300         2    600
5     102  12/3/2020   2      soap     30         4    120
6     102  12/3/2020   1      rice     35         6    210
7     103          2   2      rice     60         3    180

In [1]:
#library management
b = open('librarysystem.csv','x')

In [4]:
b = open('librarysystem.csv','a')
b.write('Book no,Name,Author,Location,Borrowedby,Borrowed date,Return date')
b.close()

In [1]:
import csv
with open('librarysystem.csv','a') as f:
    x=csv.writer(f)
    n = int(input("enter number of books = "))
    for i in range(1,n+1):
        bookno = input("enter book no = ")
        name = input("enter name = ")
        author = input("enter author = ")
        location = input("enter location = ")
        borrowedby = input("enter borrower's name = ")
        bdate = input("enter borrowed date = ")
        rdate = input("enter return date = ")
        
        field = [bookno,name,author,location,borrowedby,bdate,rdate]
        x.writerow(field)

enter number of books = 2
enter book no = 101
enter name = abc
enter author = xyz
enter location = m1
enter borrower's name = mno
enter borrowed date = 12/6/2020
enter return date = 19/6/2020
enter book no = 102
enter name = def
enter author = uvw
enter location = m2
enter borrower's name = jkl
enter borrowed date = 13/6/2020
enter return date = 20/6/2020

In [2]:
import pandas as pd
df = pd.read_csv('librarysystem.csv')
df

,Book no,Name,Author,Location,Borrowedby,Borrowed date,Return date101,abc,xyz,m1,mno,12/6/2020,19/6/2020
0,102,def,uvw,m2,jkl,13/6/2020,20/6/2020,NaN,NaN,NaN,NaN,NaN,NaN