In [1]:
a = {}
type(a)

dict

In [2]:
# a = {<key>:<value>,<key>:<value>}

In [5]:
a = {'a':'apple','b':'Ball'}
a['a']
a['b']

'Ball'

In [6]:
# indexed
# unordered
# mutable
# no duplicate index but duplicate values

In [7]:
a = {'a':'apple','b':'Ball','A':'ant'}
print(a)

{'A': 'ant', 'a': 'apple', 'b': 'Ball'}

In [8]:
for i in a:
    print(i)

A
a
b

In [9]:
for i in a.values():
    print(i)

ant
apple
Ball

In [10]:
for i in a.items():
    print(i)

('A', 'ant')
('a', 'apple')
('b', 'Ball')

In [12]:
n = {}
n['a'] = 'Apple'
n['b'] = 'Ball'
n['c'] = 'Cat'
print(n)

{'c': 'Cat', 'a': 'Apple', 'b': 'Ball'}

In [13]:
d = {'c': 'Cat', 'a': 'Apple', 'b': 'Ball'}
d['a'] = 'Ant'
d

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [14]:
d = {'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}
del d['c']
print(d)

{'a': 'Ant', 'b': 'Ball'}

In [15]:
d = {'c': 'Cat', 'a': 'Apple'}
e = {'f':'Fish'}
d+e

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [16]:
d = {'c': 'Cat', 'a': 'Apple'}
e = {'f':'Fish'}
d.update(e)
d

{'a': 'Apple', 'c': 'Cat', 'f': 'Fish'}

In [17]:
info = {}
n = int(input("Enter no of rows = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info[name] = phone
print(info)

Enter no of rows = 2
Enter name = Ram
Enter phone = 9878776754
Enter name = Shyam
Enter phone = 9856554543
{'Ram': '9878776754', 'Shyam': '9856554543'}

In [20]:
name = input("Enter name = ")
info[name]

Enter name = Ram

'9878776754'

In [22]:
name = input("Enter name which u want to delete = ")
del info[name]
print(info)

Enter name which u want to delete = Ram
{'Shyam': '9856554543'}

In [23]:
l = {'Ram': '9878776754', 'Shyam': '9856554543'}
len(l)

2

In [27]:
l = {'Ram': '9878776754', 'Shyam': '9856554543'}
print(l.pop('Ram'))

9878776754

In [28]:
l = {'Ram': '9878776754', 'Shyam': '9856554543'}
a = l.pop('Ram')
print(a)

9878776754

In [1]:
infos = {}
n = int(input("Enter how many rows = "))
for i in range(1,n+1):
    name = input("Enter name=")
    physics = int(input("Enter Marks"))
    chemistry = int(input("Enter Marks"))
    Math = int(input("Enter Marks"))
    English = int(input("Enter Marks"))
    Nepali = int(input("Enter Marks"))
    
    total = sum([physics,chemistry,Math,English,Nepali])
    per = total/5
    
    
    info = f"{name} {physics} {chemistry} {Math} {English} {Nepali} {total} {per}"
    infos[i] = info
    
print(infos)

Enter how many rows = 2
Enter name=Ram
Enter Marks78
Enter Marks89
Enter Marks78
Enter Marks90
Enter Marks98
Enter name=78
Enter Marks89
Enter Marks68
Enter Marks56
Enter Marks90
Enter Marks45
{1: 'Ram 78 89 78 90 98 433 86.6', 2: '78 89 68 56 90 45 348 69.6'}

In [3]:
# list inside dict
d = {1: ['Ram',78,89,78,90,98,433,86.6], 2: [78,89,68,56,90,45,348,69.6]}

In [5]:
d = {'a':['apple','ant'],'b':['ball',['bat']]}
print(d['a'])

['apple', 'ant']

In [9]:
d = {'a':['apple','ant'],'b':['ball',['bat']]}
d['a'][0]

'apple'

In [10]:
d = {'a':['apple','ant'],'b':['ball',['bat']]}
d['a'][0] = 'Apple'
d

{'a': ['Apple', 'ant'], 'b': ['ball', ['bat']]}

In [11]:
d = {'a':['apple','ant'],'b':['ball',['bat']]}
del d['a'][0]
d

{'a': ['ant'], 'b': ['ball', ['bat']]}

In [12]:
infos = {}
n = int(input("Enter how many rows = "))
for i in range(1,n+1):
    name = input("Enter name=")
    physics = int(input("Enter Marks"))
    chemistry = int(input("Enter Marks"))
    Math = int(input("Enter Marks"))
    English = int(input("Enter Marks"))
    Nepali = int(input("Enter Marks"))
    
    total = sum([physics,chemistry,Math,English,Nepali])
    per = total/5
    
    
    info = [name,physics,chemistry,Math,English,Nepali,total,per]
    infos[name] = info
    
print(infos)

Enter how many rows = 2
Enter name=Ram
Enter Marks78
Enter Marks89
Enter Marks98
Enter Marks67
Enter Marks56
Enter name=Shyam
Enter Marks56
Enter Marks78
Enter Marks76
Enter Marks67
Enter Marks87
{'Ram': ['Ram', 78, 89, 98, 67, 56, 388, 77.6], 'Shyam': ['Shyam', 56, 78, 76, 67, 87, 364, 72.8]}

In [ ]:
infos = {}
n = int(input("Enter how many rows = "))
for i in range(1,n+1):
    name = input("Enter name=")
    physics = int(input("Enter Marks"))
    chemistry = int(input("Enter Marks"))
    Math = int(input("Enter Marks"))
    English = int(input("Enter Marks"))
    Nepali = int(input("Enter Marks"))
    
    total = sum([physics,chemistry,Math,English,Nepali])
    per = total/5
    
    
    info = (name,physics,chemistry,Math,English,Nepali,total,per)
    infos[name] = info
    
print(infos)

In [13]:
# Dicts inside dicts
a = {'Ram':{'ntc':98412345434,'ncell':9806565545},
    'Shyam':{'ntc':9849897865,'ncell':9806789876}}
print(a)

{'Ram': {'ntc': 98412345434, 'ncell': 9806565545}, 'Shyam': {'ntc': 9849897865, 'ncell': 9806789876}}

In [14]:
a['Ram']

{'ntc': 98412345434, 'ncell': 9806565545}

In [15]:
a['Ram']['ntc']

98412345434

In [17]:
name = input("Enter name = ")
tel = int(input("Enter 1 for ntc 2 for ncell ="))
if tel == 1:
    print(a[name]['ntc'])
else:
    print(a[name]['ncell'])

Enter name = Shyam
Enter 1 for ntc 2 for ncell =2
9806789876

In [19]:
# Dicts inside dicts
a = {'Ram':{'ntc':98412345434,'ncell':9806565545},
    'Shyam':{'ntc':9849897865,'ncell':9806789876}}
a['Ram']['UTL'] = 2345654
print(a)

{'Ram': {'ntc': 98412345434, 'ncell': 9806565545, 'UTL': 2345654}, 'Shyam': {'ntc': 9849897865, 'ncell': 9806789876}}

In [22]:
infos = {}
n = int(input("Enter how many rows = "))
for i in range(1,n+1):
    name = input("Enter name=")
    physics = int(input("Enter Marks"))
    chemistry = int(input("Enter Marks"))
    Math = int(input("Enter Marks"))
    English = int(input("Enter Marks"))
    Nepali = int(input("Enter Marks"))
    
    total = sum([physics,chemistry,Math,English,Nepali])
    per = total/5
    
    infos[name] = {'Physics':physics,'Chemistry':chemistry,'Math':Math,'English':English,'Nepali':Nepali,'Total':total,'Percentage':per}
    
print(infos)

Enter how many rows = 2
Enter name=Ram
Enter Marks78
Enter Marks89
Enter Marks76
Enter Marks89
Enter Marks76
Enter name=Shyam
Enter Marks89
Enter Marks98
Enter Marks67
Enter Marks67
Enter Marks87
{'Ram': {'Physics': 78, 'Chemistry': 89, 'Math': 76, 'English': 89, 'Nepali': 76, 'Total': 408, 'Percentage': 81.6}, 'Shyam': {'Physics': 89, 'Chemistry': 98, 'Math': 67, 'English': 67, 'Nepali': 87, 'Total': 408, 'Percentage': 81.6}}

In [23]:
name = input("Enter name = ")
infos[name]

Enter name = Ram

{'Physics': 78,
 'Chemistry': 89,
 'Math': 76,
 'English': 89,
 'Nepali': 76,
 'Total': 408,
 'Percentage': 81.6}

In [24]:
# dict inside list
l = [{'Ram':9876778987},{'Shyam':9867665654}]
l[0]

{'Ram': 9876778987}

In [25]:
len(l)

2

In [27]:
l = [{'name':'Coke','price':100,'brand':'Coca Cola'},
    {'name':'pepsi','price':110,'brand':'pepsi'}]
for i in l:
    print(i['name'])
    print(i['price'])
    print(i['brand'])

Coke
100
Coca Cola
pepsi
110
pepsi

In [29]:
# d = {<key>:<value>}
d = {'a':'Apple'}
d = {('Apple','Ant'):'a'}
d

{('Apple', 'Ant'): 'a'}

In [33]:
d[('Apple', 'Ant')]

'a'

In [30]:
d = {['Apple','Ant']:'a'}
d

TypeError: unhashable type: 'list'

In [31]:
d = {{'Apple':'Ant'}:'a'}
d

TypeError: unhashable type: 'dict'

In [ ]:
p1 = "coke"
p2 = "fanta"
price1 = 100
price2 = 110
q1 = 2
q2 = 3
bill = {1:{'Name':"Coke",'Price':100,'Quantity':2},
       2:{'Name':"Fanta",'Price':110,'Quantity':3},
       {'Total':210}}

In [4]:
infos = {}
total =0
n = int(input("Enter how many types of product = "))
for i in range(1,n+1):
    name = input("Enter name=")
    price = int(input("Enter price"))
    quantity = int(input("Enter quantity"))
    
    
    total_price = price*quantity
    total = total + total_price
    
    infos[i] = {'Name':name,'Price':price,'Quantity':quantity,'Total':total_price}

infos['Total Price']=total
print(infos)

Enter how many types of product = 2
Enter name=Apple
Enter price3
Enter quantity200
Enter name=Banana
Enter price110
Enter quantity3
{1: {'Name': 'Apple', 'Price': 3, 'Quantity': 200, 'Total': 600}, 2: {'Name': 'Banana', 'Price': 110, 'Quantity': 3, 'Total': 330}, 'Total Price': 930}

In [2]:
infos['Total Price']=total
print(infos)

{'Coke': {'Name': 'Coke', 'Price': 100, 'Quantity': 2, 'Total': 200}, 'Total Price': 1400, 'Apple': {'Name': 'Apple', 'Price': 400, 'Quantity': 3, 'Total': 1200}}

In [5]:
infos = {}
total =0
names = []
prices = []
quantitys = []
total_prices = []
n = int(input("Enter how many types of product = "))
for i in range(1,n+1):
    name = input("Enter name=")
    price = int(input("Enter price"))
    quantity = int(input("Enter quantity"))
    
    
    total_price = price*quantity
    total = total + total_price
    
    names.append(name)
    prices.append(price)
    quantitys.append(quantity)
    total_prices.append(total_price)
    
infos = {'Name':names,'Price':prices,'Quantity':quantitys,'Total':total_prices}

infos['Total Price']=total
print(infos)

Enter how many types of product = 2
Enter name=Apple
Enter price300
Enter quantity4
Enter name=Banana
Enter price110
Enter quantity4
{'Name': ['Apple', 'Banana'], 'Price': [300, 110], 'Quantity': [4, 4], 'Total': [1200, 440], 'Total Price': 1640}