In [1]:
a = 10
b = 12.5
c = "Hello World"

print(a,b,c)

10 12.5 Hello World

In [3]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [4]:
# + - * / // ** %

In [5]:
c = a + b
print(c)

22.5

In [6]:
p = 1000
t = 2
r = 10

i = p*t*r/100
print(i)

200.0

In [9]:
a = "Apple "
b = "Ball"
c = a+b
print(c)

Apple Ball

In [15]:
a = "Hello world\n"
print(a*4)
print(c)

Hello world
Hello world
Hello world
Hello world

Apple Ball

In [23]:
a = input("Enter your name =")

Enter your name =aayush

In [24]:
print(type(a))

<class 'str'>

In [25]:
a = int(input("Enter the value of a="))
print(a)
print(type(a))

Enter the value of a=10
10
<class 'int'>

In [27]:
a = int(input("Enter a ="))
b = int(input("Enter b ="))
a+b

Enter a =10
Enter b =20

30

In [28]:
p = int(input("Enter p ="))
t = float(input("Enter t ="))
r = float(input("Enter r ="))

i = p*t*r/100
print("The value of i is",i)

Enter p =1000
Enter t =2.5
Enter r =10.4
The value of i is 260.0

In [35]:
a = "Hello world"
print(a[1])

e

In [36]:
len(a)

11

In [37]:
a = "Hello world"
print(a[0:6])

Hello

In [38]:
print(a[0:9])

Hello wor

In [40]:
a = "Hello world"
b = a[0:6]
c = a[6:]
print(b)
print(c)

Hello
world

In [46]:
name = input("Enter name = ")
age = int(input("Enter age = "))
address = input("Enter address = ")

info = "Hello My name is "+name+" I am from "+address+" I am "+str(age)

Enter name = Ram
Enter age = 34
Enter address = Nepal

In [47]:
print(info)

Hello My name is Ram I am from Nepal I am 34

In [48]:
# if else statement
#if else elif
# if <condation>:
#     <operations>
# elif <condition>:
#     <operations>
# else:
#     <operations>

In [49]:
# < >  == <= >= !=

In [51]:
a = int(input("Enter a = "))
b = int(input("Entre b = "))
o = input("Enter + - * /   ")
if o == '+':
    print(a+b)
elif o == '-':
    print(a-b)
elif o == '*':
    print(a*b)
elif o == '/':
    print(a/b)
else:
    print("Invalid operator")

Enter a = 10
Entre b = 3
Enter + - * /   add
Invalid operator