In [1]:
# no duplicate elements
# does not follow indexing
# unordered
# mutable

In [2]:
a = {1,2,3,4,5,6,7,8,9}
type(a)

set

In [5]:
a = {}
type(a)

dict

In [7]:
a = set()
type(a)

set

In [8]:
a = {11,11,12,12,13,14}
a

{11, 12, 13, 14}

In [9]:
a[0]

TypeError: 'set' object does not support indexing

In [10]:
a = {11,2,41,100,9,1}
a

{1, 2, 9, 11, 41, 100}

In [11]:
a*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [12]:
a = {'Apple','Ball'}
c = {'Cat'}
a+c

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [13]:
# union()
# intersection()
# difference()
# isdisjoint()
# issubset()
# issuperset()

In [20]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {4,3,2,6,11}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [21]:
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {4,3,2,6,11}
c = {12,13,14}
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [23]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {4,3,2,6,11}
a.intersection(b)

{2, 3, 4, 6}

In [24]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {4,3,2,6,11}
c = {12,13,14}
a.intersection(b,c)

set()

In [25]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {4,3,2,6,11}
a.difference(b)

{1, 5, 7, 8, 9, 10}

In [27]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {4,3,2,6,11}
a.isdisjoint(b)

False

In [28]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {11,12,13}
a.isdisjoint(b)

True

In [29]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {3,5,6}
a.issubset(b)

False

In [30]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {3,5,6}
b.issubset(a)

True

In [31]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {3,5,6}
b.issuperset(a)

False

In [32]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {3,5,6}
a.issuperset(b)

True

In [35]:
a = set()
a.add(2)
a

{2}

In [37]:
s = set()
n = 10
for i in range(n):
    x = input("Enter value of x = ")
    s.add(x)
print(s)

Enter value of x = 1
Enter value of x = 2
Enter value of x = 3
Enter value of x = 4
Enter value of x = 5
Enter value of x = 6
Enter value of x = 7
Enter value of x = 8
Enter value of x = 9
Enter value of x = 10
{'10', '7', '1', '9', '5', '6', '8', '2', '3', '4'}

In [39]:
a = {1,2,3,4}
b = {2,4,5,6}
a.update(b)
a

{1, 2, 3, 4, 5, 6}

In [40]:
# set inside set
a = {{1,2},{2,3}}
a

TypeError: unhashable type: 'set'

In [41]:
# set inside set
a = {[1,2],[2,3]}
a

TypeError: unhashable type: 'list'

In [42]:
# set inside set
a = {(1,2),(2,3)}
a

{(1, 2), (2, 3)}

In [43]:
len(a)

2

In [44]:
a = {"Apple","Ball"}
a

{'Apple', 'Ball'}

In [45]:
a.remove("Apple")
a

{'Ball'}

In [46]:
# set inside list
a = [{},{}]
a

[{}, {}]

In [47]:
a = [{1,2,3,4,5},{2,6,7,8,9}]
a

[{1, 2, 3, 4, 5}, {2, 6, 7, 8, 9}]

In [48]:
a[0]

{1, 2, 3, 4, 5}

In [50]:
a = [1,2,3,4,1,3,4,5,0,5,1,3]
b = set(a)
a = list(b)
a

[0, 1, 2, 3, 4, 5]