In [1]:
a ="Hello World"
type(a)

str

In [2]:
name = input("Enter your name = ")
type(name)

Enter your name = Ram

str

In [5]:
a ="Hello World"
print(a[-1])

d

In [6]:
a ="Hello World"
print(a[0:6])

Hello

In [7]:
a ="Hello World"
print(a[0:6:2])

Hlo

In [8]:
a ="Hello World"
print(a[:6])
print(a[6:])

Hello
World

In [9]:
a = "Hello "
b = "World"
a+b

'Hello World'

In [11]:
a = "Hello "
b = "World"
c = 1

a+b+str(c)

'Hello World1'

In [13]:
a = "Hello world\n"
print(a*3)

Hello world
Hello world
Hello world

In [3]:
# string formatting
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")



info = f"Hello I am {name}.I am from {add}.I am {age}."
print(info)

Enter name = Ram
Enter age = 67
Enter address = Kathmandu
Hello I am Ram.I am from Kathmandu.I am 67.

In [4]:
a = "Hello I am Ram.I am from Kathmandu.I am 67."
if "Kathmandu" in a:
    print("yes")

yes

In [5]:
a  = "Ram Shyam Hari Sita Gita "
if "Ram" in a:
    print("Yes")

Yes

In [6]:
# count()
a.count("Ram")

1

In [8]:
a  = "Ram Shyam Hari Sita Gita Ram"
if "Ram" in a:
    print("Yes",a.count("Ram"))

Yes 2

In [9]:
a = "Hello World"
a.upper()

'HELLO WORLD'

In [10]:
a.lower()

'hello world'

In [14]:
a  = "Ram Shyam Hari Sita Gita Ram".lower()
search = input("Enter value for search = ").lower()
if search in a:
    print("Yes",a.count(search))

Enter value for search = Ram
Yes 2

In [15]:
len(a)

28

In [20]:
a  = "Ram Shyam Hari Sita Gita Ram"
a.replace('Ram','Hari-Krishna')

'Hari-Krishna Shyam Hari Sita Gita Hari-Krishna'

In [21]:
a  = "Ram Shyam Hari Sita Gita Ram"
a.replace('Hari','')

'Ram Shyam  Sita Gita Ram'

In [22]:
infos = ""
n = int(input("Enter how many rows = "))
for i in range(n):
    name = input("Enter name=")
    age = input("Enter age = ")
    add = input("Enter address = ")
    
    info = f"{name} {age} {add}\n"
    infos = infos+info
    
print(infos)

Enter how many rows = 3
Enter name=Ram
Enter age = 56
Enter address = Patan
Enter name=Shyam
Enter age = 45
Enter address = Kathmandu
Enter name=Sita
Enter age = 45
Enter address = Bhaktapur
Ram 56 Patan
Shyam 45 Kathmandu
Sita 45 Bhaktapur

In [24]:
print(infos)

Ram 56 Patan
Shyam 45 Kathmandu
Sita 45 Bhaktapur

In [49]:
infos = "Ram 56 Patan\nShyam 45 Kathmandu\nSita 45 Bhaktapur"
print(infos)

Ram 56 Patan
Shyam 45 Kathmandu
Sita 45 Bhaktapur

In [50]:
print(infos.replace('Ram','Ram-Prasad'))

Ram-Prasad 56 Patan
Shyam 45 Kathmandu
Sita 45 Bhaktapur

In [51]:
print(infos)

Ram 56 Patan
Shyam 45 Kathmandu
Sita 45 Bhaktapur

In [47]:
infos = infos.replace('Ram','Ram-Prasad')

In [48]:
print(infos)

Ram-Prasad 56 Patan
Shyam 45 Kathmandu
Sita 45 Bhaktapur

In [30]:
a = "Ram 56 Patan\nShyam 45 Kathmandu\nSita 45 Bhaktapur\nRam 67 Bara"
print(a)

Ram 56 Patan
Shyam 45 Kathmandu
Sita 45 Bhaktapur
Ram 67 Bara

In [32]:
print(a.replace('Ram 56','Ram-Prasad 56'))

Ram-Prasad 56 Patan
Shyam 45 Kathmandu
Sita 45 Bhaktapur
Ram 67 Bara

In [33]:
# split()
a  = "Ram Shyam Hari Sita Gita Ram"
a.split()

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Ram']

In [35]:
# split()
a  = "Ram_Shyam_Hari_Sita_Gita_Ram"
a.split('_')

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Ram']

In [38]:
infos = ""
n = int(input("Enter how many rows = "))
for i in range(n):
    name = input("Enter name=")
    physics = int(input("Enter Marks"))
    chemistry = int(input("Enter Marks"))
    Math = int(input("Enter Marks"))
    English = int(input("Enter Marks"))
    Nepali = int(input("Enter Marks"))
    
    total =  physics+chemistry+Math+English+Nepali
    per = total/5
    
    
    info = f"{name} {physics} {chemistry} {Math} {English} {Nepali} {total} {per}\n"
    infos = infos+info
    
print(infos)

Enter how many rows = 2
Enter name=Ram
Enter Marks67
Enter Marks89
Enter Marks67
Enter Marks89
Enter Marks67
Enter name=Shyam
Enter Marks67
Enter Marks90
Enter Marks56
Enter Marks45
Enter Marks90
Ram 67 89 67 89 67 379 75.8
Shyam 67 90 56 45 90 348 69.6

infos.split('\n)

In [40]:
infos.split('\n')

['Ram 67 89 67 89 67 379 75.8', 'Shyam 67 90 56 45 90 348 69.6', '']