In [1]:
# tuple

In [17]:
a = (1,2,3,4,5,6,7,8,9)
type(a)

tuple

In [3]:
tuple('python')

('p', 'y', 't', 'h', 'o', 'n')

In [4]:
a = ('Apple','Ball','Cat')
b = ('Fish','goat')
a+b

('Apple', 'Ball', 'Cat', 'Fish', 'goat')

In [5]:
a = ('Apple','Ball','Cat')
a*2

('Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat')

In [10]:
a = ()
b = ('Ball',)
print(type(a))
print(type(b))
a+b

<class 'tuple'>
<class 'tuple'>

('Ball',)

In [12]:
a = ('Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat')
a[-4]

'Cat'

In [13]:
a = ('Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat')
a[0:5]

('Apple', 'Ball', 'Cat', 'Apple', 'Ball')

In [14]:
a = ('Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat')
a[0:5:2]

('Apple', 'Cat', 'Ball')

In [15]:
for i in a:
    print(i)

Apple
Ball
Cat
Apple
Ball
Cat

In [16]:
# creating tuple by user

n = 5
y = ()
for i in range(n):
    x = int(input("Enter value = "))
    y = y+(x,)
print(y)

Enter value = 1
Enter value = 2
Enter value = 3
Enter value = 4
Enter value = 5
(1, 2, 3, 4, 5)

In [17]:
a= ('Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat')
if 'Apple' in a:
    print("yes")

yes

In [20]:
a = ('Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat')
b = list(a)
del b[0]
a = tuple(b)
a

('Ball', 'Cat', 'Apple', 'Ball', 'Cat')

In [1]:
infos = ()
n = int(input("Enter how many rows = "))
for i in range(1,n+1):
    name = input("Enter name=")
    physics = int(input("Enter Marks"))
    chemistry = int(input("Enter Marks"))
    Math = int(input("Enter Marks"))
    English = int(input("Enter Marks"))
    Nepali = int(input("Enter Marks"))
    
    total = sum([physics,chemistry,Math,English,Nepali])
    per = total/5
    
    
    info = f"{i} {name} {physics} {chemistry} {Math} {English} {Nepali} {total} {per}"
    infos = infos+(info,)
    
print(infos)

Enter how many rows = 2
Enter name=ghjghj
Enter Marks87
Enter Marks98
Enter Marks78
Enter Marks67
Enter Marks90
Enter name=gjhghj
Enter Marks34
Enter Marks78
Enter Marks87
Enter Marks90
Enter Marks67
('1 ghjghj 87 98 78 67 90 420 84.0', '2 gjhghj 34 78 87 90 67 356 71.2')

In [2]:
a = ('Apple','Ball','Cat')
a.index('Apple')

0

In [3]:
a = (1,2,3,4,5,6,7,8,9)
min(a)

1

In [4]:
a = (1,2,3,4,5,6,7,8,9)
max(a)

9

In [5]:
a = (1,2,3,4,5,6,7,8,9)
sum(a)

45

In [6]:
# tuple inside tuple
a = ((1,2,3),(4,5,6),(7,8,9))
len(a)

3

In [10]:
a = ((1,2,3),(4,5,6),(7,8,9))
a[0][0]

1

In [13]:
a = ((1,2,3),(4,5,6),(7,8,9))
b = ((10,11,12),)
a+b

((1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12))

In [18]:
a = ((1,2,3),(4,5,6),(7,8,9))
b = ((10,11,12),(13,14,15),)
c = a+b
c

((1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12), (13, 14, 15))

In [19]:
for i in c:
    print(i)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
(10, 11, 12)
(13, 14, 15)

In [20]:
e = ()
for i in range(3):
    name = input("Enter value of a = ")
    phone = int(input("Enter value of b = "))
    
    d = (name,phone)
    e = e+(d,)
print(e)

Enter value of a = Ram
Enter value of b = 9876776565
Enter value of a = Shyam
Enter value of b = 9867665656
Enter value of a = Hari
Enter value of b = 9878776765
(('Ram', 9876776565), ('Shyam', 9867665656), ('Hari', 9878776765))

In [21]:
# tuple inside list
a = [(),(),(),()]
len(a)

4

In [22]:
# tuple inside list
a = [(1,2,3),(4,5,6),(7,8,9),(10,11,12)]
len(a)

4

In [34]:
a = (('Ram', 9876776565), ('Shyam', 9867665656), ('Hari', 9878776765))
a = list(a)
a

[('Ram', 9876776565), ('Shyam', 9867665656), ('Hari', 9878776765)]

In [35]:
a.append(('Sita',9876556545))
a

[('Ram', 9876776565),
 ('Shyam', 9867665656),
 ('Hari', 9878776765),
 ('Sita', 9876556545)]

In [30]:
# list inside list
c = []
a = (('Ram', 9876776565), ('Shyam', 9867665656), ('Hari', 9878776765))
b = list(a)
n = len(b)
for i in range(n):
    c.append(list(b[i]))
print(c)

[['Ram', 9876776565], ['Shyam', 9867665656], ['Hari', 9878776765]]

In [31]:
c.append(['Sita',9867556543])
c

[['Ram', 9876776565],
 ['Shyam', 9867665656],
 ['Hari', 9878776765],
 ['Sita', 9867556543]]

In [37]:
c[2][0] = 'Hari Shyam'
c

[['Ram', 9876776565],
 ['Shyam', 9867665656],
 ['Hari Shyam', 9878776765],
 ['Sita', 9867556543]]

In [45]:
# list inside tuple
a = ([1,2,3],[4,5,6],[7,8,9],[10,11,12])
len(a)

4

In [42]:
a[3][0]=100
a

([1, 2, 3], [4, 5, 6], [7, 8, 9], [100, 11, 12])

In [44]:
del a[3][0]
a

([1, 2, 3], [4, 5, 6], [7, 8, 9], [11, 12])

In [ ]:
a = ((),(),(),())
b = [[],[],[],[]]

In [52]:
# changing list inside list into tuple inside tuple
c = ()
a = [['Ram', 9876776565], ['Shyam', 9867665656], ['Hari', 9878776765]]
b = tuple(a)
print(b)
n = len(b)
for i in range(n):
    d = tuple(b[i])
    c = c+(d,)
print(c)

(['Ram', 9876776565], ['Shyam', 9867665656], ['Hari', 9878776765])
(('Ram', 9876776565), ('Shyam', 9867665656), ('Hari', 9878776765))