In [1]:
p=1000
t=2
r=10

i=(p*t*r)/100
print (i)

200.0

In [5]:
a="apple"
b="ball"
c=a+b
print (c)

appleball

In [3]:
a-b

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [8]:
a="hello world\t"
print (a*4)

hello world	hello world	hello world	hello world

In [12]:
a=input("enter the value of a=")

enter the value of a=10

In [13]:
print (type(a))

<class 'str'>

In [14]:
a=int(input("enter the value of a"))
print (a)
print (type(a))

enter the value of a10
10
<class 'int'>

In [15]:
a=int(input("enter a="))
b=int(input("enter b="))
a+b

enter a=10
enter b=20

30

In [17]:
p=int(input("enter p="))
t=float(input("enter t="))
r=float(input("enter r="))

i=(p*t*r)/100
print ("the value of i is",i)

enter p=1000
enter t=2.5
enter r=10.4
the value of i is 260.0

In [18]:
name=input("enter name=")
age=int(input("enter age="))
address=input("enter address=")
info="Hello My name is "+name+" I am from "+address+" I am "+str(age)

enter name=Ram
enter age=34
enter address=Nepal

In [19]:
print (info)

Hello My name is Ram I am from Nepal I am 34

In [23]:
a=int(input("enter a="))
b=int(input("enter b="))
o=input("enter + - * /:")
if o == '+':
    print (a+b)
elif o == '-':
    print (a-b)
elif o == '*':
    print (a*b)
elif o == '/':
    print (a/b)
else:
    print ("Invalid operator")

enter a=10
enter b=2
enter + - * /:%
Invalid operator